#check_menu:checked~ul{

height: 140px;


}

#bouton_menu{

    cursor: pointer;
}

#check_menu:checked~label{
    
    animation: jello-horizontal 0.8s both;
}

@keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}

#bouton_menu{

color: #ffff;
font-size: 2em;
}

input{

    display: none;
}

nav{
    
    display: flex;
    ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;

        li{
            
            a{
                text-decoration: none;
                color: $couleur_grise;
                text-align: center;
                display: block;
                padding: 3px;
                &:hover{

                    background-color: lighten($couleur_rouge,20%);
                }
            }
        }
    }
}


@media screen and (min-width : 501px){
   
    nav{

        ul{
            flex-direction: row;
            justify-content: space-between;
            li{
                flex: 1;
                a{
                    text-decoration: none;
                }
            }
        }
    }

    #bouton_menu{

       display: none;
    }

}

@media screen and (max-width : 500px){
   
    nav, ul, li{

       display: none;
    }

    #check_menu:checked~ul{

        nav, ul, li{

            display: block;
         }
        
        }

}

